/*    */
:root {
  --tipo-subtitulo: Verdana, sans-serif;
  --estilo-letra: bold;
  --tamano-letra: 0.8rem;
  --letra-mnu: Anton, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}



/*    */
/****zona de menu de REGISTRO CONTACTOS   LINEA 1 *****/
/*    */
.user-linea1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  font-family: vardana;
  font-weight: bold;
  font-size: 90%;
  color: white;

}

/*    */
/**** ZONA DE  MNU INTERNOS   LINEA 2 */
/*    */
#nav-interno {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 243, 243);
  width: 100%;
  height: 4.5rem;
}

#logotipo {
  padding: 2px;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  height: auto;
  margin-left: 40px;
  border-radius: 25px;
  z-index: 9999;
}

#logotipo img {
  width: 100%;
  height: auto;
}

#logotipo a:hover {
  margin-top: 10%;
  width: 80%;
  background-color: white;
  border-radius: 25px;
}


#areacomun {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

#cajon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2px;
}

#mnuI {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: auto;
  height: 60%;
  padding: 5px;
}

#mnu-producto {
  padding-top: 10px;
  margin-right: 2px;
  width: 6rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#a-productos:hover {
  font-size: 13px;
  border-radius: 25%;
  color: #ec5252;
}

#ul-productos {
  background-color: rgb(247, 240, 240);
  border: 1px solid rgb(240, 105, 105);
  border-radius: 25px 0 0 0;
  width: 7rem;
  height: 5rem;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 5px;
  position: absolute;
  list-style-type: none;
  display: none;
}

#ul-productos::before {
  margin-top: 10px;
  content: "";
  position: absolute;
  top: -20px;
  left: 20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  transform: translateX(-50%);
}

#mnu-producto:hover #ul-productos {
  display: block;
  /* Muestra el menú cuando se pasa el mouse sobre el enlace */
}

#ul-productos li {
  list-style: none;
  height: 20px;
  font-size: 18px;
  margin-top: 10px;
  list-style-type: none;
}

#ul-productos li a {
  display: flex;
  justify-content: start;
  width: 100%;
  color: rgb(5, 5, 5);
  text-decoration: none;
}

#ul-productos li a:hover {
  background-color: rgb(146, 123, 123);
  color: white;
}

/*

             SUBMENU NOSOTROS
*/
#menus-casa {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.opciones-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 1.4rem;
  font-size: 10px;
  color: black;
  font-family: vardana;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
}

.opciones-a:hover {
  font-size: 13px;
  border-radius: 25%;
  color: rgb(240, 77, 77);

}

/*
           
*/
.opciones-class {
  margin-left: 2px;
  width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

#mnu-search {
  margin-left: 20px;
  display: flex;
  width: 20%;
  height: 25px;
  margin-right: 5%;
  justify-content: left;
  align-items: center;
  color: rgb(224, 162, 162);
  font-family: vardana;
  font-weight: bold;
  margin-top: 30px;

  transition: width 0.3s ease-in-out;
  /* Agregamos una transición suave */
}

#mnu-search.collapsed {
  /* Nueva clase para cuando se recoja la búsqueda */
  width: 5.5%;
  /* Cambiamos el ancho a uno más pequeño */
}

#lupa {
  width: 19px;
  height: 21px;
  padding: 3px;
  border: 1px solid rgb(207, 202, 202);
}

#lupa:hover {
  width: 21px;
}

#inputBuscar {
  width: 100%;
  height: auto;
  background-color: white;
  border: none;
  border: 1px solid rgb(202, 184, 184);
}

input::placeholder {
  color: rgb(187, 172, 172);
  font-size: 11px;
  font-style: italic;
}

/*    */
/**** ZONA DE  INFORMACION DE NAVEGACION LINEA 3    */
/*    */
#informacion-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 20px;
  background-color: red;
}

/* ====================================flech de INICIO

@keyframes titilar {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
    content: url("/images/flecha-roja.png");
    background-color: rgb(194, 174, 181);
  }

  50% {
    opacity: 1;
  }

  75% {
    content: url("/images/flecha-roja.png");
    background-color: rgb(110, 101, 103);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
*/
#slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40rem;
  height: 100%;
  margin-left: 55%;
  font-size: 1rem;
  font-family: vardana;
  margin-top: 0;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #slogan {
    margin-left: 35%;
  }
}

@media (max-width: 1000px) {
  #slogan {
    margin-left: 25%;
  }
}


#medicamentos {
  color: rgb(250, 243, 243);
  margin: 0 6px 0 5px;
  animation: medicamentos 8s infinite;
}

@keyframes medicamentos {
  0% {

    color: rgb(245, 237, 237);
  }


  50% {
    color: rgb(168, 160, 160);

  }

  100% {
    color: rgb(247, 240, 240);
  }
}


/*    */
/**** ZONA DE  INICIO PAGINA 1    */
#sloganPortada {
  position: absolute;
  z-index: 11;
  color: white;
  font-size: 50px;
  font-weight: bold;
  width: auto;
  height: auto;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 6px rgba(14, 13, 13, 0.8);
  background: transparent;
  border-radius: 25px;
  box-shadow: inset 0 0 0 2000px rgba(141, 131, 131, 0), 0 0 20px rgba(0, 0, 0, 0.3);
}

/*    */
.slider {
  display: flex;
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  display: none;
}

.slider img.active {
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

#slice-derecho {
  margin-top: -20%;
  margin-left: 1%;
  width: 2.5%;
  height: 5%;
  position: absolute;
  z-index: 2;
}

#slice-izquierdo {
  margin-top: -20%;
  margin-left: 93%;
  width: 2.5%;
  height: 5%;
  position: absolute;
  z-index: 2;
}

.img-slice {
  width: 100%;
  height: auto;
}

.fig-linea1 {
  margin-top: 7%;
  display: flex;
  width: 10%;
  height: 1px;
  margin-left: 20%;
  background-color: rgb(165, 160, 160);
}

.fig-linea2 {
  margin-top: 7%;
  display: flex;
  width: 10%;
  height: 1px;
  margin-right: 20%;
  background-color: rgb(187, 180, 180);
}

#figura {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  height: 70px;
  margin-left: 15%;
  background-image: linear-gradient(to top, rgb(252, 250, 250), rgb(156, 148, 148));
  border-radius: 20rem 20rem 0 0;
  color: white;
  position: absolute;
  top: 643px;
  transform: translateY(-70%);
}

#figura1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.2%;
  width: 50%;
  height: 45%;
  background-color: #ddd9d9;
  border: 2px solid rgb(168, 161, 161);
  border-radius: 30px 30px 0 0;
  color: RED;
  transform: translateY(-70%);
  box-shadow: inset 0 0 20px rgb(88, 81, 81);
  font-size: 150%;
  font-family: vardana;
  font-weight: bold;
}

#figura1 img {
  margin: -15px 20px 0 20px;
  width: 40px;
}

/*    */
/**** ZONA DE  PAGINA 2 BLOGS    */
/*    */
#blogs {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 8%;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  border-radius: 0 0 25px 0;
  z-index: 0;
}

.div-blogs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20% 0 20% 0;
  box-shadow: 0px 0px 5px 10px rgba(221, 216, 216, 0.3);
}

.blogimg {
  margin-left: -20px;
  margin-top: -16px;
  width: 200px;
  height: auto;
  border-radius: 45% 0 0 0;
  box-shadow: 0px 0px 5px 5px rgba(136, 130, 130, 0.3);
  float: left;
  /* Posiciona la imagen a la izquierda */
  margin-right: 15px;
  margin-bottom: 10px;
  /* Ajusta el margen derecho para separar la imagen del texto */
}

.p-blogs {
  margin: 15px 15px 0 20px;
  text-align:justify;
  /* Justifica el texto para que se ajuste alrededor de la imagen */
  font-size:12px;
  line-height: 2;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titBlogs {
  font-size: 10px;
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(245, 6, 6);
}


.blogImgFinal {
  margin-left: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.blogImgFinal img {
  width: 70px;
  height: auto;
  border: 1px solid red;
  border-radius: 50%;
}

.blogImgFinal p {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(116, 101, 101);
  font-size: 13px;
  font-family: fantasy;
}

/*
***
Insercio de pagina NOSOTROS inicio ====================================== NOSOTROS
****
*/
#pagina2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#transcision {
  display: flex;
  font-style: italic;
  font-weight: bold;
  flex-direction: column;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(180, 22, 22);
  color: white;
}

.css-pag {
  width: 49%;
  text-align: justify;
  padding: 0 10px 10px 50px;
  font-family: Verdana;
}

.tit-nos {
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(205, 62, 62);
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#cuadrado {
  border: 1px solid black;
  padding: 40px;
}

.list-container {
  margin-left: 20px;
  /* Ajusta el margen izquierdo de la lista */
}

.list-container span {
  display: block;
  margin-bottom: 10px;
  /* Agrega espacio entre los elementos */
  position: relative;
  padding-left: 15px;
  /* Ajusta el espacio para la viñeta */
}

.list-container span::before {
  content: "\2022";
  /* Agrega el símbolo de viñeta */
  position: absolute;
  left: 0;
}

#foto {
  width: 100%;
  padding: 5px;
  height: 270px;
}

#foto img {
  width: 100%;
  height: 100%;
}

#pagina4 {
  background-color: rgb(238, 234, 234);
  padding: 10px 20px 10px 50px;
}

.tit-nos-pag4 {
  display: flex;
  justify-content: center;
  color: rgb(173, 54, 54);
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
}

#linea-horizontal4 {
  border-bottom: 1px solid rgb(205, 62, 62);
}

#direcciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 244, 244);
  width: 98%;
  padding: 10px;
  height: 480px;
}

#direcciones-I {
  width: 35%;
}

#direcciones-D {
  width: 62%;
}

.tit-pag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(205, 62, 62);
  font-size: 20px;
}

.pag4-I {
  width: 100%;
}

.pag4-D {
  width: 100%;
}

#zonaID {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#zonaI {
  width: 45%;
}

#zonaD {
  width: 50%;
}

/*inicia pagina 4.2 =======================================*/
.pCaptura {
  margin-top: 0%;
}

#correos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(252, 249, 249);
  padding: 40px 0px 10px 15px;
}

#correosI {
  width: 42%;
}

#correosD {
  width: 53%;
}

.tit-pag4D {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* prueba para formulario*/

#formulario-correo {
  display: grid;
  gap: 5px;
}

.label-correo {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 5px;
}

input[type="submit"] {
  padding: 10px;
  width: 20%;
  background-color: rgb(205, 62, 62);
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

#gogle-map {
  padding-bottom: 50px;
}

#redesS {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 100px;
}

.dif {
  margin-right: 40px;
}

#revista {
  width: 50%;
}



/*

============================================registro


*/
#cuerpo {
  position: fixed;
  top: 120px;
  left: 600px;
  z-index: 9990;
  padding: 10px;
}

@media (max-width: 1000px) {
  #cuerpo {
    left: 100px;
  }
}

#contenedor-contacto {
  display: flex;
  width: 450px;
  height: 500px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
  border: 3px solid rgb(15, 11, 216);
}

#cont-registro {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear en la parte superior */
  width: 400px;
  height: 450px;
  border: 3px solid rgb(244, 245, 241);
  border: 3px solid rgb(173, 226, 15);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

#logo {
  width: 100%;
  height: 140px;
  background-color: rgb(240, 232, 232);
}

#tit1 {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(247, 240, 240);
}

#tit1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: red;
  font-size: 25px;
}

#datos-captura {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.datos-correo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 55px;
  margin-top: 10px;
  background-color: rgb(238, 216, 216);
  text-align: center;
  /* Centrar contenido */
}

#ocultar {
  margin-top: -10px;
  padding: 5px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 25px;
  color: red;
  font-weight: bolder;
}

#ocultar:hover {
  border: 2px solid black;
  color: rgb(250, 246, 246);
  background-color: rgb(134, 128, 128);
}


#datos-captura p {
  margin-bottom: 0;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
}

#datos-captura input {
  margin-top: 0;
  display: flex;
  border: 1px solid rgb(211, 182, 182);
}

#contendor-contacto:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid red;
  border-left: 20px solid transparent;
}

#contendor-contacto:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid red;
  border-right: 20px solid transparent;
}

#clave {
  width: 100px !important;
}

#correo {
  width: 200px !important;

  #razonSocial {
    width: 270px !important;
  }

  #ciudad {
    width: px !important;
  }
}

#bienvenida {
  visibility: hidden;
  position: fixed;
  padding: 10px;
  border: red;
  border-radius: 25px;
  top: 180px;
  left: 640px;
  background-color: rgb(61, 57, 57);
  color: white;
  z-index: 9999;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#bienvenida a {
  background-color: rgb(248, 81, 9);
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
  color: rgb(249, 244, 244);
  margin-left: 40%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton-registro {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: rgb(250, 7, 7);
  color: rgb(252, 249, 249);
  border-radius: 25px;
}

#boton-registro:hover {
  color: rgb(235, 15, 15);
  background-color: rgb(56, 45, 45);
}

#ejecutar {
  margin-top: 0;
  margin-bottom: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedor-producto {
  display: flex;
  width: 450px;
  height: 320px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

#cont-producto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear en la parte superior */
  width: 400px;
  height: 270px;
  border: 3px solid rgb(244, 245, 241);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

/*

area de los mensaje ================================  alestas

*/
#cuerpo1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: none;
  text-align: center;
  z-index: 99999;
}

#cuerpo1.show {
  display: block;
  border: 2px solid red;
}

.cuerpo1-message {
  margin-bottom: 10px;
}

#cuerpo1 button {
  margin-top: 10px;
  background-color: rgb(88, 84, 84);
  border: none;
  font-size: 14px;
  color: #f3ecec;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 25px;
}


/*    */
/**** ZONA DE ========================================= footer    */
/*    */
#footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #747171;
  padding-bottom: 15px;
}

#footerBase {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2dbdb;
  border-radius: 0 0 80px 80px;
}

#footer-empresa {
  margin: 20px 20px 20px 100px;
  width: 400px;
  height: 350px;
  border-right: 1px solid rgb(184, 184, 182);
}

#footer-empresa h1 {
  font-size: 30px;
  color: rgb(36, 34, 34);
  font-size: 25px;
}

#footer-empresa p {
  width: 400px;
  line-height: 2;
}


#footer-link {
  padding-left: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 400px;
  height: 350px;
  border-right: 1px solid rgb(209, 209, 208);
}

#footer-link h1 {
  width: 300px;
  color: rgb(54, 52, 52);
  font-size: 25px;
}

#footer-link a {
  text-decoration: none;
  list-style-type: none;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(54, 52, 52);
}

#footer-link a:hover {
  background-color: rgb(187, 187, 185);
  color: rgb(95, 74, 74);
}

#footer-link a:before {
  content: "\2022";
  margin-right: 5px;
  color: black;
  width: 30px;
}

#footer-redes-sociales {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 400px;
}

#footer-redes-sociales h1 {
  width: 500px;
  color: rgb(54, 52, 52);
  font-size: 25px;

}

#redesS {
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  width: 200px;

}

#redesS a img {
  width: 40px;
  height: auto;
}

#footer-redes-sociales p {
  width: 500px;
  line-height: 2;
}

#footer-redes-sociales p :before {
  content: "\2022";
  margin-right: 5px;
  color: black;
  width: 30px;
}


#autor {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
   font-size: 12px;
   color: white;
}

#autorD {
  margin-left: 200px;
}

#autorI {
  margin-left: auto;
  margin-right: 200px;
}