/*    */
:root {
  --tipo-subtitulo: Verdana, sans-serif;
  --estilo-letra: bold;
  --tamano-letra: 0.8rem;
  --letra-mnu: Anton, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}



/*    */
/****zona de menu de REGISTRO CONTACTOS   LINEA 1 *****/
/*    */
#mnu-registro-contacto {
  padding: 0;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to top, #696868, #969191, #ffffff);
}


.user-linea1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  font-family: vardana;
  font-weight: bold;
  font-size: 90%;
  color: white;
}

/*    */
/**** ZONA DE  MNU INTERNOS   LINEA 2 */
/*    */
#nav-interno {
  display: flex;
  flex-direction: row;
  background-color: rgb(114, 110, 110);
  width: 100%;
  height: 4rem;
}

#logotipo {
  padding: 5px 0 0 0;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-top: 6px;
  border-radius: 25px;
  background-color: white;
  z-index: 9999;
}

#logotipo img {
  width: 100%;
  height: auto;
}

.inicio {
  margin-top: 3px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(80, 76, 76);
  background-image: linear-gradient(to top, rgba(78, 76, 76, 0), rgb(226, 220, 220));
  border-radius: 0 0 25px 25px;
  text-decoration: none;
  font-family: vardana;
  font-weight: bold;
}

/*

/* COMIENZA EL MENU DE LA EMPRESA PARA ASUNTOS INTERNOS DE LA PAGINA


             SUBMENU PRODUCTOS
*/
#areacomun {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border: 2px solid black;
}

#cajon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2px;
}

#mnuI {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 130px;
  width: auto;
  height: 60%;
  padding: 5px;
}

#mnu-producto {
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#a-productos {
  width: 7rem;
  height: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-family: vardana;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
  border-radius: 25px;
}

#a-productos:hover {
  font-size: 14px;
  background-color: rgb(170, 161, 161);
  border-radius: 25%;
  color:red;
 }

#ul-productos {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  width: 7rem;
  position: absolute;
  list-style-type: none;
  margin: 80px 0 0 0;
  padding: 0;
  display: none;
}

#ul-productos::before {
  margin-top: 10px;
  content: "";
  position: absolute;
  top: -20px;
  left: 20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  transform: translateX(-50%);
}

#mnu-producto:hover #ul-productos {
  display: block;
  /* Muestra el menú cuando se pasa el mouse sobre el enlace */
}

#ul-productos li {
  list-style: none;
  height: 20px;
  list-style-type: none;
}

#ul-productos li a {
  display: flex;
  justify-content: start;
  width: 100%;
  color: rgb(5, 5, 5);
  text-decoration: none;
}

#ul-productos li a:hover {
  background-color: rgb(146, 123, 123);
  color: white;
}

/*

             SUBMENU NOSOTROS
*/

#mnu-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 0px;
}

#a-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 1.4rem;
  font-size: 12px;
  color: white;
  font-family: vardana;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
}

#a-nosotros:hover {
  font-size: 14px;
  background-color: rgb(170, 161, 161);
  border-radius: 25%;
  color:red;
}
  /*
           
*/
#contacto {
  padding-top: 10px;
  width: 240px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 25%;
}

#contacto-a {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  #contacto { 
    margin-left: 15%;
  }
}

.user-linea1 {
  width: 110px;
  text-decoration: none;
  border-radius: 25px;
}

.user-linea1:hover {
  color: red;
  background-color: #494343;
}


#mnu-search {
  display: flex;
  width: 20%;
  height: 50%;
  margin-left: auto;
  margin-right: 5%;
  justify-content: left;
  align-items: center;
  color: rgb(224, 162, 162);
  font-family: vardana;
  font-weight: bold;
  font-size: 80%;
  margin-top: 1.3%;
  border: 1px solid white;
}

@media (max-width: 1000px) {
  #mnu-search { 
    display: none;
  }
  #contacto { 
    margin-left: 10%;
  }
}

#lupa-div {
  margin-left: -1px;
  width: 24px;
  height: 80%;
  background-color: white;
}

#lupa {
  width: 19px;
  height: auto;
  padding: 3px;
}

#lupa:hover {

  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 15px;
  }

  25% {
    transform: rotate(90deg);
    width: 15px;
  }

  50% {
    transform: rotate(180deg);
    width: 10px;
  }

  75% {
    transform: rotate(90deg);
    width: 15px;
    border-radius: 50%;
  }

  100% {
    transform: rotate(0deg);
    width: 19px;
  }
}


#inputBuscar {
  width: 100%;
  height: auto;
  background-color: white;
}

/*    */
/**** ZONA DE  INFORMACION DE NAVEGACION LINEA 3    */
/*    */
#informacion-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  background-color: rgb(241, 237, 238);
}


.inicio:hover {
  color: black;
  background-color: rgb(240, 212, 212);
  border-radius: 25%;
}

/* ====================================flech de INICIO*/

@keyframes titilar {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
    content: url("/images/flecha-roja.png");
    background-color: rgb(241, 237, 238);
  }

  50% {
    opacity: 1;
  }

  75% {
    content: url("/images/flecha-roja.png");
    background-color: rgb(241, 237, 238);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 100%;
  margin-left: 55%;
  font-size: 1rem;
  font-family: vardana;
  margin-top: 0;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #slogan {
    margin-left: 35%;
  }
}
@media (max-width: 1000px) {
  #slogan {
    margin-left: 25%;
  }
}


#medicamentos {
  color: red;
  margin: 0 6px 0 5px;
  animation: medicamentos 3s infinite;
}

@keyframes medicamentos {
  0% {
    opacity: 1;
    color: #ee0c0c;
  }

  25% {
    opacity: 0;
    color: #6b6565;
  }

  75% {

    color: #2c2a2a;
  }

  100% {
    color: #161515;
  }
}


/*    */
/**** ZONA DE  INICIO PAGINA 1    */
/*    */
.slider {
  display: flex;
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  display: none;
}

.slider img.active {
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

#slice-derecho {
  margin-top: -20%;
  margin-left: 1%;
  width: 2.5%;
  height: 5%;
  position: absolute;
  z-index: 2;
}

#slice-izquierdo {
  margin-top: -20%;
  margin-left: 93%;
  width: 2.5%;
  height: 5%;
  position: absolute;
  z-index: 2;
}

.img-slice {
  width: 100%;
  height: auto;
}

.fig-linea1 {
  margin-top: 7%;
  display: flex;
  width: 10%;
  height: 1px;
  margin-left: 20%;
  background-color: rgb(165, 160, 160);
}

.fig-linea2 {
  margin-top: 7%;
  display: flex;
  width: 10%;
  height: 1px;
  margin-right: 20%;
  background-color: rgb(187, 180, 180);
}

#figura {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  height: 70px;
  margin-left: 15%;
  background-image: linear-gradient(to top, rgb(252, 250, 250), rgb(156, 148, 148));
  border-radius: 20rem 20rem 0 0;
  color: white;
  position: absolute;
  top: 692px;
  transform: translateY(-70%);
}

#figura1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.2%;
  width: 50%;
  height: 45%;
  background-color: #ddd9d9;
  border: 2px solid rgb(168, 161, 161);
  border-radius: 30px 30px 0 0;
  color: RED;
  transform: translateY(-70%);
  box-shadow: inset 0 0 20px rgb(88, 81, 81);
  font-size: 150%;
  font-family: vardana;
  font-weight: bold;
}

#figura1 img {
  margin: -15px 20px 0 20px;
  width: 40px;
}

/*    */
/**** ZONA DE  PAGINA 2 BLOGS    */
/*    */
#blogs {
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 5%;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  border-radius: 0 0 25px 0;
  z-index: 0;
}

.div-blogs {
  display: flex;
  gap: 40px;
  border-radius: 20% 0 20% 0;
  box-shadow: 0px 0px 5px 10px rgba(139, 136, 136, 0.3);
}

.blogimg {
  margin-left: -20px;
  margin-top: -20px;
  width: 200px;
  height: auto;
  border-radius: 45% 0 50% 0;
  box-shadow: 0px 0px 5px 5px rgba(136, 130, 130, 0.3);
  float: left;
  /* Posiciona la imagen a la izquierda */
  margin-right: 30px;
  /* Ajusta el margen derecho para separar la imagen del texto */
}

.p-blogs {
  margin: 20px;
  text-align: justify;
  /* Justifica el texto para que se ajuste alrededor de la imagen */
  font-size: 20px;
}

/*
***
Insercio de pagina NOSOTROS inicio ====================================== NOSOTROS
****
*/
#pagina2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#transcision {
  display: flex;
  font-style: italic;
  font-weight: bold;
  flex-direction: column;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(180, 22, 22);
  color: white;
}

.css-pag {
  width: 49%;
  text-align: justify;
  padding: 0 10px 10px 50px;
  font-family: Verdana;
}

.tit-nos {
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(205, 62, 62);
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#cuadrado {
  border: 1px solid black;
  padding: 40px;
}

.list-container {
  margin-left: 20px;
  /* Ajusta el margen izquierdo de la lista */
}

.list-container span {
  display: block;
  margin-bottom: 10px;
  /* Agrega espacio entre los elementos */
  position: relative;
  padding-left: 15px;
  /* Ajusta el espacio para la viñeta */
}

.list-container span::before {
  content: "\2022";
  /* Agrega el símbolo de viñeta */
  position: absolute;
  left: 0;
}

#foto {
  width: 100%;
  padding: 5px;
  height: 270px;
}

#foto img {
  width: 100%;
  height: 100%;
}

#pagina4 {
  background-color: rgb(238, 234, 234);
  padding: 10px 20px 10px 50px;
}

.tit-nos-pag4 {
  display: flex;
  justify-content: center;
  color: rgb(173, 54, 54);
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
}

#linea-horizontal4 {
  border-bottom: 1px solid rgb(205, 62, 62);
}

#direcciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 244, 244);
  width: 98%;
  padding: 10px;
  height: 480px;
}

#direcciones-I {
  width: 35%;
}

#direcciones-D {
  width: 62%;
}

.tit-pag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(205, 62, 62);
  font-size: 20px;
}

.pag4-I {
  width: 100%;
}

.pag4-D {
  width: 100%;
}

#zonaID {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#zonaI {
  width: 45%;
}

#zonaD {
  width: 50%;
}

/*inicia pagina 4.2 =======================================*/
#correos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(252, 249, 249);
  padding: 40px 0px 10px 15px;
}

#correosI {
  width: 42%;
}

#correosD {
  width: 53%;
}

.tit-pag4D {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* prueba para formulario*/

#formulario-correo {
  display: grid;
  gap: 5px;
}

.label-correo {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 5px;
}

input[type="submit"] {
  padding: 10px;
  width: 20%;
  background-color: rgb(205, 62, 62);
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

#gogle-map {
  padding-bottom: 50px;
}

#redesS {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 100px;
}

.dif {
  margin-right: 40px;
}

#revista {
  width: 50%;
}



/*

============================================registro


*/
#cuerpo {
  position: fixed;
  top: 120px;
  left: 600px;
  z-index: 9990;
  padding: 10px;
}

@media (max-width: 1000px) {
  #cuerpo {
    left: 100px;
  }
}

#contenedor-contacto {
  display: flex;
  width: 450px;
  height: 450px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

#cont-registro {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear en la parte superior */
  width: 400px;
  height: 400px;
  border: 3px solid rgb(244, 245, 241);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

#logo {
  width: 100%;
  height: 140px;
  background-color: rgb(240, 232, 232);
}

#tit1 {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(247, 240, 240);
}

#tit1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: red;
  font-size: 25px;
}

#datos-captura {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.datos-correo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 55px;
  margin-top: 10px;
  background-color: rgb(238, 216, 216);
  text-align: center;
  /* Centrar contenido */
}

#ocultar {
  margin-top: -10px;
  padding: 5px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 25px;
  color: red;
  font-weight: bolder;
}

#ocultar:hover {
  border: 2px solid black;
  color: rgb(250, 246, 246);
  background-color: rgb(134, 128, 128);
}


#datos-captura p {
  margin-bottom: 0;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
}

#datos-captura input {
  margin-top: 0;
  display: flex;
  border: 1px solid rgb(211, 182, 182);
}

#contendor-contacto:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid red;
  border-left: 20px solid transparent;
}

#contendor-contacto:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid red;
  border-right: 20px solid transparent;
}

#clave {
  width: 100px !important;
}

#correo {
  width: 200px !important;

  #razonSocial {
    width: 270px !important;
  }

  #ciudad {
    width: px !important;
  }
}

#bienvenida {
  visibility: hidden;
  position: fixed;
  padding: 10px;
  border: red;
  border-radius: 25px;
  top: 180px;
  left: 640px;
  background-color: rgb(61, 57, 57);
  color: white;
  z-index: 9999;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#bienvenida a {
  background-color: rgb(248, 81, 9);
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
  color: rgb(249, 244, 244);
  margin-left: 40%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton-registro {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: rgb(250, 7, 7);
  color: rgb(252, 249, 249);
  border-radius: 25px;
}

#boton-registro:hover {
  color: rgb(235, 15, 15);
  background-color: rgb(56, 45, 45);
}

#ejecutar {
  margin-top: 0;
  margin-bottom: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedor-producto {
  display: flex;
  width: 450px;
  height: 320px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

#cont-producto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear en la parte superior */
  width: 400px;
  height: 270px;
  border: 3px solid rgb(244, 245, 241);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

/*

area de los mensaje ================================  alestas

*/
#cuerpo1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: none;
  text-align: center;
  z-index: 99999;
}

#cuerpo1.show {
  display: block;
  border: 2px solid red;
}

.cuerpo1-message {
  margin-bottom: 10px;
}

#cuerpo1 button {
  margin-top: 10px;
  background-color: rgb(88, 84, 84);
  border: none;
  font-size: 14px;
  color: #f3ecec;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 25px;
}


/*    */
/**** ZONA DE ========================================= footer    */
/*    */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #9c9797;
  padding-bottom: 15px;
}

#footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #8d8888;
  border-radius:0 0 80px 80px;
}

.footer1-hijo {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  width: 30%;
  color: white;
  height: 300px;
  margin-top: 50px;
}

.footer1-hijo p {
  color: white;
}

#footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #343232;
}

#footer2 p {
  display: flex;
  color: white;
  width: 40%;
  align-items: center;
}

#footer2-hijo2 {
  display: flex;
  justify-content: end;
}

#autor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  color:rgb(59, 54, 54);
}
#autorD {
margin-left: 100px;
}
#autorI {
  margin-right: 100px;
  }