/*    */
:root {
  --tipo-subtitulo: Verdana, sans-serif;
  --estilo-letra: bold;
  --tamano-letra: 0.8rem;
  --letra-mnu: Anton, sans-serif;
}

body {
  max-width: 100vw;
  margin: 0 auto;
  /* Para centrar el contenido en la pantalla */
  padding: 0;
}

/*
relo de espera
*/
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
fin 
*/
#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}



/*    */
/****zona de menu de REGISTRO CONTACTOS   LINEA 1 *****/
/*    */
.user-linea1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  font-family: vardana;
  font-weight: bold;
  font-size: 90%;
  color: white;

}

/*    */
/**** ZONA DE  MNU INTERNOS   LINEA 2 */
/*    */
#nav-interno {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 243, 243);
  width: 100%;
  height: 4.5rem;
}

#logotipo {
  padding: 2px;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  height: auto;
  margin-left: 40px;
  border-radius: 25px;
  z-index: 9999;
}

#logotipo img {
  width: 100%;
  height: auto;
}

#logotipo a:hover {
  margin-top: 10%;
  width: 80%;
  background-color: white;
  border-radius: 25px;
}


#areacomun {
  margin-top: 97px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: #fdf6f6;
}

#cajon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1px;
}

#mnuI {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: auto;
  height: 60%;
  padding: 5px;
}

#mnu-producto {
  padding-top: 10px;
  margin-right: 2px;
  width: 6rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#a-productos:hover {
  font-size: 13px;
  border-radius: 25%;
  color: #ec5252;
}

#ul-productos {
  background-color: rgb(247, 240, 240);
  border: 1px solid rgb(240, 105, 105);
  border-radius: 25px 0 0 0;
  width: 7rem;
  height: 5rem;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 5px;
  position: absolute;
  list-style-type: none;
  display: none;
}

#ul-productos::before {
  margin-top: 10px;
  content: "";
  position: absolute;
  top: -20px;
  left: 20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  transform: translateX(-50%);
}

#mnu-producto:hover #ul-productos {
  display: block;
  /* Muestra el menú cuando se pasa el mouse sobre el enlace */
}

#ul-productos li {
  list-style: none;
  height: 20px;
  font-size: 18px;
  margin-top: 10px;
  list-style-type: none;
}

#ul-productos li a {
  display: flex;
  justify-content: start;
  width: 100%;
  color: rgb(5, 5, 5);
  text-decoration: none;
}

#ul-productos li a:hover {
  background-color: rgb(146, 123, 123);
  color: white;
}

/*

             SUBMENU NOSOTROS
*/
#menus-casa {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.opciones-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 1.4rem;
  font-size: 10px;
  color: black;
  font-family: vardana;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
}

.opciones-a:hover {
  font-size: 13px;
  border-radius: 25%;
  color: rgb(240, 77, 77);

}

/*
           
*/
.opciones-class {
  margin-left: 2px;
  width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

#mnu-search {
  margin-left: 20px;
  display: flex;
  width: 20%;
  height: 25px;
  margin-right: 5%;
  justify-content: left;
  align-items: center;
  color: rgb(224, 162, 162);
  font-family: vardana;
  font-weight: bold;
  margin-top: 28px;
  transition: width 0.3s ease-in-out;
}

#mnu-search.collapsed {
  /* Nueva clase para cuando se recoja la búsqueda */
  width: 5.5%;
  /* Cambiamos el ancho a uno más pequeño */
}

#lupa {
  width: 19px;
  height: 21px;
  padding: 3px;
  border: 1px solid rgb(207, 202, 202);
}

#lupa:hover {
  width: 21px;
}

#inputBuscar {
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: white;
  border: none;
  border: 1px solid rgb(202, 184, 184);
}

input::placeholder {
  color: rgb(187, 172, 172);
  font-size: 11px;
  font-style: italic;
}

/*    */
/**** ZONA DE  INFORMACION DE NAVEGACION LINEA 3    */
/*    */
#informacion-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 25px;
  background-color: red;
}

/* ====================================flech de INICIO
*/
#slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40rem;
  height: 100%;
  margin-left: 55%;
  font-size: 1rem;
  font-family: vardana;
  margin-top: 0;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #slogan {
    margin-left: 35%;
  }
}

@media (max-width: 1000px) {
  #slogan {
    margin-left: 25%;
  }
}

#inicio {
  text-decoration: none;
  margin-left: 70px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 3px;
  border: 1px solid white;
  border-radius: 25px;
  display: none;
  background-color: rgb(243, 82, 82);
}

#inicio:hover {
  background-color: white;
  color: red;
  transform: scale(0.8);
  cursor: pointer;
}

#medicamentos {
  color: rgb(250, 243, 243);
  margin: 0 6px 0 5px;
  padding: 2px;
  animation: medicamentos 8s infinite;
}

@keyframes medicamentos {
  0% {

    color: rgb(245, 237, 237);
  }


  50% {
    color: rgb(168, 160, 160);

  }

  100% {
    color: rgb(247, 240, 240);
  }
}


/*    */
/**** ZONA DE  INICIO PAGINA 1    */
#sloganPortada {
  position: absolute;
  z-index: 11;
  color: rgb(243, 9, 9);
  font-size: 40px;
  font-weight: bold;
  width: auto;
  height: auto;
  top: 22%;
  left: 19%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 6px rgba(134, 130, 130, 0.8);
  background: transparent;
  border-radius: 25px;
  box-shadow: inset 0 0 0 2000px rgba(141, 131, 131, 0), 0 0 20px rgba(0, 0, 0, 0.3);
}


.mosaico {
  display: flex;
  max-width: 1440px;
  min-width: 320px;
  height: 87vh
}

.mosaico img {
  width: 100vw;
  height: auto;
}


button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

#figura {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 70px;
  margin-left: 15%;
  background-image: linear-gradient(to top, rgb(252, 250, 250), rgb(156, 148, 148));
  border-radius: 25rem 25rem 0 0;
  color: white;
  position: absolute;
  top: 97.5vh;
  transform: translateY(-70%);
}


#figura1-index {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  background-color: #ddd9d9;
  border: 2px solid rgb(168, 161, 161);
  border-radius: 40px 40px 0 0;
  color: RED;
  box-shadow: inset 0 0 20px rgb(88, 81, 81);
  font-size: 150%;
  font-family: vardana;
  font-weight: bold;
}

#figura1-index img {
  margin: -15px 20px 0 20px;
  width: 40px;
}

#lineaindex {
  width: 90%;
  border: 3px solid;
  border-image: radial-gradient(circle at center, rgb(253, 6, 6), rgb(252, 250, 250)) 1;
}

/*    */
/**** ZONA DE  PAGINA 2 BLOGS    */
/*    */
s #paginablog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
  background-color: #f1efef;
  padding-bottom: 4vw;
}

#textIni {
  width: 95%;
  height: auto;
  margin-top: 4vw;
  margin-left: 3.2vw;
  border-bottom: red;
}

#textIni span{
color:red;
}

#blogs {
  width: 93.5%;
  margin: 3vw 0 1vw 3.8vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw 3vw;
  z-index: 0;
}

.div-blogs {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  background-color: white;
  box-shadow: 0px 0px 12px rgb(199, 195, 195);
  border-radius: 25px 25px 0 0;
}

.blogimg {
  width: 100%;
  height: 250px;
  float: left;
  margin: 0 1vw .5vw 0;
  border-radius: 25px 25px 0 0;
}

.blogCategoria {
  background-color: #f70808;
  color: white;
  width: 30%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titBlogs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
}

.p-blogs {
  margin: 0 1vw 0 1vw;
  text-align: justify;
  font-size: 1vw;
  line-height: 1.7;
  font-family: Tahoma;
  color: black;
}

.blogImgFinal {
  margin: 1.5vw 1vw 1vw 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.blogImgFinal img {
  width: 70px;
  height: auto;
  border: 1px solid red;
  border-radius: 50%;
}

.blogImgFinal p {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(116, 101, 101);
  font-size: 13px;
  font-family: fantasy;
}

/*
Insercio de pagina NOSOTROS inicio ====================================== NOSOTROS
****
*/
#pag-nosotros {
  width: 100%;
  background-color: rgb(250, 240, 240);
}

#figuraN {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 100px;
  margin-left: 15%;
  background-image: linear-gradient(to top, rgb(252, 250, 250), rgb(156, 148, 148));
  border-radius: 20rem 20rem 0 0;
  color: white;
}

#figura1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.6%;
  width: 50%;
  height: 50%;
  background-color: #ddd9d9;
  border: 2px solid rgb(168, 161, 161);
  border-radius: 30px 30px 0 0;
  color: RED;
  box-shadow: inset 0 0 20px rgb(88, 81, 81);
  font-size: 150%;
  font-family: vardana;
  font-weight: bold;
}

#linea1nosotros {
  width: 90%;
  border: 3px solid;
  border-image: radial-gradient(circle at center, rgb(253, 6, 6), rgb(252, 250, 250)) 1;
}

/*
.fig-linea1 {
  margin-top: 10.5%;
  width: 10%;
  height: 1px;
  background-color: rgb(165, 160, 160);
}


.fig-linea2 {
  margin-top: 10.5%;
  width: 10%;
  height: 1px;
  background-color: rgb(187, 180, 180);
}
*/
#nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nos-distribucion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px 60px;
}

.nos {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(241, 223, 223);
  margin-left: 50px;
  background: linear-gradient(to right, rgb(167, 165, 165), rgba(155, 154, 154, 0));
  box-shadow: inset 0 0 10px 0 rgb(241, 224, 224);
}

.nosT {
  margin-right: 10px;
  width: 40%;
  height: 300px;

}

.nosC {
  display: flex;
  flex-direction: column;

  width: 60%;
  height: 300px;
  font-size: 20px;
  margin-right: 40px;
  text-align: justify;
  justify-content: center;
}

#nos11 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos1.png");
  background-size: cover;
}

#nos21 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos21.png");
  background-size: cover;
}

#nos31 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos31.png");
  background-size: cover;
}

#nos41 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos41.png");
  background-size: cover;
}

#nos51 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos51.png");
  background-size: cover;
}

#nos61 {
  background-image: linear-gradient(to right, rgba(139, 136, 136, 0), rgb(199, 197, 197)), url("/images/nos61.png");
  background-size: cover;
}

.tit-nos {
  color: rgb(250, 3, 3);
  align-items: end;
  text-align: end;
  margin-right: 10px;
  font-size: 40px;
}

.tit-nos-pag4 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(173, 54, 54);
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
}

/*
pagina de productos mostrario
*/

#cabezaProducto {
  padding: 10px 30px 0px 40px;
  width: 97%;
  background-color: rgb(250, 240, 240);


}

#cabeza {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
  color: red;
  width: 97%;
  height: 60px;
  background-color: rgb(229, 222, 222);
  border-radius: 100% 100% 0 0;
}

.cajonProducto {
  padding: 10px;
  width: 95.5%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 20px;
  background-color: rgb(230, 227, 227);
}

.itemProducto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  height: 500px;
}

.tituloProducto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tituloProducto img {
  width: 50px;
}

#imgProducto1 {
  width: 50px;
  height: auto;
}

#imgProducto2 {
  width: 20px;
  height: 20px;
}

.label {
  margin-left: auto;
  margin-right: 10px;
  color: red;
  width: 60px;
}

.imageProducto img {
  width: 100%;
}

.descripcionPorducto {
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3px;
  font-size: 1.4rem;
  font-weight: bold;
  color:red;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.contenido {
  font-family: sans-serif;
  font-style: italic;
}
.fichaTecnica {
  margin-top: 20px;
  font-size: 15px;
  border: 2px solid rgb(210, 201, 201);
  background-color: red;
  border-radius: 25px;
  color: white;
}

.fichaTecnica:hover {
  transform: scale(1, 2);
}


#pagina4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 234, 234);
  padding: 10px 20px 10px 50px;
}

#pag-contactos {
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: rgb(238, 234, 234);
}

#nombre-contacto {
  color: red;
  padding-left: 300px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 78.8%;
  height: 200px;
  background-color: rgb(179, 175, 175);
  border-radius: 0 0 0 300px;
}

.figura0 {
  position: absolute;
  margin-top: 200px;
  width: 100%;
  height: 100px;
  background-color: rgb(179, 175, 175);
}

.figura1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 197px;
  width: 99.9%;
  height: 600px;
  background-color: rgb(247, 243, 243);
  border-radius: 0 130px 0 0;
  border-right: 2px solid rgb(206, 202, 202);
}

#contactos-p {
  margin-top: 20px;
  margin-left: 120px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
}

/*
Area del formulario de envio
*/
#form-correo {
  margin: 30px 30px 30px 5px;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 0 100px 0 0;
  background-color: rgb(235, 233, 233);
}

#correosPag {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#formulario-correo {
  margin-left: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.label-correo {
  font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 30px;
}

.enviar {
  padding: 10px;
  width: 20%;
  background-color: rgb(205, 62, 62);
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

#gogle-map {
  margin-left: 40px;
  width: 90%;
  padding-bottom: 50px;
}

.tit-pag4D {
  display: flex;
  margin-left: 30px;
  align-items: center;
  height: 40px;
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-size: 20px;
}

/*
fin pagina contactos ===============================================
*/
#redesS {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 100px;
}

.dif {
  margin-right: 40px;
}

#revista {
  width: 50%;
}

/*

==================================parte de distribuidores

*/
#contenedor-distr {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(224, 216, 216);
  padding-bottom: 20px;
}

#dist-titulo {
  display: flex;
  flex-direction: column;
  background-image: url('linea-distribuidores.png');
  padding-top: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(129, 125, 125);
}

#titulo {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: bold;
  color: red;
  text-shadow: 2px 4px 4px rgb(7, 7, 7);
}

.dist-contenido {
  margin-top: -80px;
  width: 90%;
  height: auto;
  padding: 4% 3% 6% 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  background-color: white;
  border-radius: 30px;
}

.dist-nombre {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(233, 229, 229);
  border-radius: 25px;
}

.dist-contenido img {
  width: 80%;
  height: auto;
}

#oficinas-distri {
  margin-top: -20px;
  position: absolute;
  color: red;
}

#oficinas-distri span {
  color: rgb(196, 195, 194);
}

/*

============================================registro

*/


#cuerpo {
  position: fixed;
  top: 120px;
  left: 600px;
  z-index: 9990;
  padding: 10px;
}

@media (max-width: 1000px) {
  #cuerpo {
    left: 100px;
  }
}

#contenedor-contacto {
  display: flex;
  width: 450px;
  height: 500px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

#cont-registro {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 425px;
  border: 3px solid rgb(244, 245, 241);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

#logo {
  width: 100%;
  height: 140px;
  background-color: rgb(240, 232, 232);
}

#tit1 {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(247, 240, 240);
}

#tit1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: red;
  font-size: 25px;
}

#datos-captura {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos-correo {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 55px;
  background-color: rgb(238, 216, 216);
  /* Centrar contenido */
}

#whatsapp-numero p {
  margin-top: 0px;

}

.datos-correo p {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
}

.datos-correo input {
  margin-top: 0;
  display: flex;
}

#contendor-contacto:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid red;
  border-left: 20px solid transparent;
}

#contendor-contacto:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid red;
  border-right: 20px solid transparent;
}


#correo {
  width: 200px !important;

  #clave {
    width: 100px !important;
  }

  #razonSocial {
    width: 100px !important;
  }

  #whatsapp {
    width: 200px !important;
  }

  #ciudad {
    width: 200px !important;
  }
}

#boton-registro {
  margin-right: 40px;
  width: 150px;
  height: 30px;
  background-color: rgb(252, 248, 248);
  color: rgb(250, 4, 4);
  border-radius: 25px;
  border: 1px solid rgb(248, 187, 187);
}

#boton-registro:hover {
  color: rgb(252, 248, 248);
  background-color: rgb(190, 188, 188);
  transform: scale(1.2);
}

#ocultar {
  padding: 5px;
  text-decoration: none;
  border: 1px solid rgb(248, 163, 163);
  border-radius: 25px;
  color: red;
  font-weight: bolder;
}

#ocultar:hover {
  color: rgb(250, 246, 246);
  background-color: rgb(199, 194, 194);
  transform: scale(1.2);
}

#ejecutar {
  margin-bottom: 10px;
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#bienvenida {
  position: fixed;
  padding: 10px;
  border: red;
  border-radius: 25px;
  top: 180px;
  left: 640px;
  background-color: rgb(61, 57, 57);
  color: white;
  z-index: 9999;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
}

#bienvenida a {
  background-color: rgb(248, 81, 9);
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
  color: rgb(249, 244, 244);
  margin-left: 40%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#olvido-clave {
  margin: 5px 60px 20px auto;
  width: 150px;
  height: 20px;
  font-size: 12px;
  align-items: center;
  text-align: center;
  background-color: #f8dfdf;
  border: 1px solid rgb(96, 96, 97);
  color: rgb(105, 103, 103);
  border-radius: 25px;
  text-decoration: none;
}

#olvido-clave:hover {
  background-color: white;
  transform: scale(1.2);
  color: rgb(59, 58, 58);
}

/*
=======================================hasta aqui llega validar ussuario para ingreso
*/
#contenedor-producto {
  display: flex;
  width: 450px;
  height: 320px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  /* Alinear en la parte superior */
  background: rgb(243, 242, 242);
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

#cont-producto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear en la parte superior */
  width: 400px;
  height: 270px;
  border: 3px solid rgb(244, 245, 241);
  background-color: rgb(255, 244, 244);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

/*

area de los mensaje ================================  alestas

*/
#cuerpo1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: none;
  text-align: center;
  z-index: 99999;
}

#cuerpo1.show {
  display: block;
  border: 2px solid red;
}

.cuerpo1-message {
  margin-bottom: 10px;
}

#cuerpo1 button {
  margin-top: 10px;
  background-color: rgb(88, 84, 84);
  border: none;
  font-size: 14px;
  color: #f3ecec;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 25px;
}


/*    */
/**** ZONA DE ========================================= footer    */
/*    */
#footer {
  margin: 10px 0 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #c5bfbf;
}

#footerBase {
  margin: 0 30px 20px 3.3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3ecec;
  border-radius: 0 0 80px 80px;

}

#footer-empresa {
  margin: 2% 0 2% 2%;
  width: 35%;
  height: 100%;
}

#footer-empresa h1 {
  color: rgb(36, 34, 34);
  font-size: 1.8vw;
  margin-left: 2%;
}

#footer-empresa ul {
  width: 90%;
  font-size: 1.2vw;
  line-height: 1.5;
}

#footer-link {
  margin: 2% 0 2% 0;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border-right: 1px solid rgb(141, 141, 138);
  border-left: 1px solid rgb(133, 133, 130);
}

#footer-link h1 {
  align-items: center;
  text-align: center;
  width: 100%;
  color: rgb(54, 52, 52);
  font-size: 1.8vw;
}

#footer-link a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2vw;
  color: rgb(54, 52, 52);
}

#footer-link a:hover {
  background-color: rgb(187, 187, 185);
  color: white;
  border-radius: 25px;
}

#footer-redes-sociales {
  margin: 2% 3% 2% 2%;
  display: flex;
  flex-direction: column;
  width: 30%;

}

#footer-redes-sociales h1 {
  width: 100%;
  color: rgb(54, 52, 52);
  font-size: 1.8vw;
}

#redesS {
  display: flex;
  margin-left: 2vw;
  flex-direction: row;
  width: 10vw;
}

#redesS a img {
  width: 3vw;
  height: auto;

}

#footer-redes-sociales ul {
  margin-top: 0px;
  width: 85%;
  font-size: 1.2vw;
  line-height: 1.5;
  margin-left: 3%;
}

#autor {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  font-size: 12px;
  color: white;
}

#autorD {
  margin-left: 200px;
}

#autorI {
  margin-left: auto;
  margin-right: 200px;
}