
#pagina4 {
  background-color: rgb(238, 234, 234);
  padding: 120px 20px 10px 50px;
}
.tit-nos-pag4 {
  display: flex;
  justify-content: center;
  color: rgb(173, 54, 54);
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
}
#linea-horizontal4 {
  border-bottom: 1px solid rgb(205, 62, 62);
}
#direcciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 244, 244);
  width: 98%;
  padding: 10px;
  height: 480px;
}
#direcciones-I {
  width: 35%;
}
#direcciones-D {
  width: 62%;
}
.tit-pag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(205, 62, 62);
  font-size: 20px;
}

.pag4-I {
  width: 100%;
}
.pag4-D {
  width: 100%;
}
#zonaID {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#zonaI {
  width: 45%;
}
#zonaD {
  width: 50%;
}

/*inicia pagina 4.2 =======================================*/
#correos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(252, 249, 249);
  padding: 40px 0px 10px 15px;
}
#correosI {
  width: 42%;
}
#correosD {
  width: 53%;
}
.tit-pag4D {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* prueba para formulario*/

#formulario-correo {
  display: grid;
  gap: 5px;
}

.label-correo {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 5px;
}

input[type="submit"] {
  padding: 10px;
  width: 20%;
  background-color: rgb(205, 62, 62);
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

#gogle-map {
  padding-bottom: 50px;
}

/* inicio pagina 5 =====================================*/
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 560px;
  background-color: black;
  padding: 0 15px 0px 15px;
}

#footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;
  background-color: #343232;
}

.footer1-hijo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  width: 30%;
  color: white;
  height: 300px;
  margin-top: 50px;
}
.footer1-hijo p {
  color: white;
}
#redesS {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 100px;
}

.dif {
  margin-right: 40px;
}
#revista {
  width: 50%;
}

#footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #343232;
}

#footer2 p {
  display: flex;
  color: white;
  width: 40%;
  align-items: center;
}
#footer2-hijo2 {
  display: flex;
  justify-content: end;
}
