.frasco {
    width: 200px;
    height: 200px;
    animation: girar 5s linear infinite;
  }

  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #gira {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    animation: lleva 5s linear infinite;
  }

  @keyframes lleva {
    0% {
      opacity: 0%;
      transform: translate(0px, 0px); /* Desplazamiento inicial */
    }
    50% {
      opacity: 50%;
      transform: translate(50px, 150px); /* Desplazamiento intermedio */
    }
    100% {
      opacity: 100%;
      transform: translate(150px, 300px); /* Desplazamiento final */
    }
  }